<h1>{{title}}</h1>

<form [formGroup]="teachersForm" (ngSubmit)="onSubmit()">

  <div formArrayName="teachers">

    <div *ngFor="let teacher of teachers().controls; let ti=index">

      <div [formGroupName]="ti" style="border: 1px solid yellow; padding: 10px;; display: inline-block; margin: 5px;">
        Teachers Name :
        <input type="text" formControlName="name">&nbsp;
        <button (click)="removeTeacher(ti)">Remove</button>&nbsp;
        <button type="button" (click)="addBatch(ti)">Add Batch</button>
        <br />
        <br />
        <div formArrayName="batches">

          <div *ngFor="let batch of batches(ti).controls; let bi=index">

            <div [formGroupName]="bi" style="border: 1px solid red; padding: 10px; margin: 5px;">

              Batch Name :
              <input type="text" formControlName="name">&nbsp;
              <button (click)="removeBatch(ti,bi)">Remove Batch</button>&nbsp;
              <button (click)="addStudent(ti,bi)">Add Student</button>
              <br />
              <br />
              <div formArrayName="students">

                <div *ngFor="let batch of students(ti,bi).controls; let si=index">
                  <div [formGroupName]="si" style="border: 1px solid blue; padding: 2px;">
                    Student Name :
                    <input type="text" formControlName="name">&nbsp;
                    <button (click)="removeStudent(ti,bi,si)">Remove student</button>
                  </div>
                  <br />
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <p>
    <button type="button" (click)="addTeacher()">Add Teacher</button>
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>

</form>
<p>
  <button type="button" (click)="patchValue1()">Patch Value</button>
</p>

{{this.teachersForm.value | json}}